.profileHeader {
  display: flex;
  height: 550px;
  width: 100vw;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
  background-color: #f8ff91;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}
