.new-tweet {
  /* display: flex; */
  margin: 0 auto;
  /* flex-direction: column; */
}
.tweetTextbox {
  display: flex;
  flex-direction: column;
  /* border-color: grey;
  border-style: solid; */
  padding: 15px;
  width: 70vw;
}
/* .tweetTextbox:hover {
  box-shadow: 5px 10px;
} */
textarea {
  resize:none;
}
.tweet-charCount {
  display: flex;
  justify-content: space-between;
  font-family: 'Bungee', cursive;
}

#tweet-button {
  background-color:rgba(0, 255, 247, 0.3); ;
  color: grey;
  height:fit-content;
}
.counterRed{
  color :red;
}
.counter{
  color:grey;
}
#tweet-text {
  background-color: #f4f1ec;
  min-height:30px;
  max-height: 150px;
  width: 90%;
  border-style:hidden;
  margin-left:20px;
}
.line {
  border: 0;
  clear:both;
  display:block;
  width: 96%;               
  background-color:grey;
  height: 3px;
}

#tweet-button:hover {
  cursor:pointer;
}
.error-msg {
  color:red;
  display:none;
}
.error-msg2 {
  color:red;
  display:none;
}

/* DESKTOP CSS */
@media only screen and (min-width: 1024px) {
  .new-tweet {
  margin-top:35vh;
  margin-right:15vw;
  }
  .tweetTextbox{
    width:40vw;
  }
}